<p>Ciao <%= @resource.email %>!</p>
<p>
  Qualcuno ha richiesto un link per reimpostare la tua password. Puoi farlo attraverso il link qui sotto
</p>

<p><%= link_to 'Reimposta la password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  Se non sei stato tu a richeiderlo, per favore ignora questa mail
</p>

<p>
  La tua password non verrà modificata fino a quando non cliccherai sul link sopra per crearne una nuova.
</p>
