<div class="col-md-12 error-wrapper">
  <h1><%= t('order.error_title') %></h1>
  <p>
    <%= t('order.error_body').html_safe %>
  </p>
  <%= link_to t('order.back_to_shop'), store_url, class: "btn btn-custom btn-add-to-cart pull-left" %>
</div>
