<div class="readable-text">
  <div class="col-md-12">
    <h1>Metodi di pagamento</h1>
    <p>
      Sono disponibili diversi metodi di pagamento sicuro per gli acquisti online sul nostro e-shop:

      <ul>
        <li>
          <h4>Attraverso il sistema Constriv.com del Consorzio Triveneto, con carta di credito Mastercard, Visa e Maestro.</h4>
          Constriv è un sistema sicuro di pagamento, che sfrutta la crittografia standard SSL con chiave simmetrica a 128 bit.
          Alla conferma della transazione online, sarai indirizzato alla pagina di pagamento sicuro Constriv, dove la tua banca autorizzerà l’accredito per l'importo relativo all'acquisto effettuato.
          Il tuo acquisto partirà al momento del ricevimento del pagamento, compatibilmente con la disponibilità in magazzino.
        </li>
        <li>
          <h4>Con sistema di pagamento sicuro PayPal, senza commissioni.</h4>
          Alla conferma della transazione verrai indirizzato al sito PayPal per il pagamento sicuro dell’importo, che sarà addebitato immediatamente sulla carta associata al tuo account.
          Per motivi di sicurezza, accettiamo solo pagamenti provenienti da account PayPal verificati. Il tuo acquisto partirà al momento del ricevimento del pagamento, compatibilmente con la disponibilità in magazzino.
        </li>
      </ul>
    </p>
  </div>
</div>
