<div class="readable-text">
  <div class="col-md-12">
    <h1>Termini e condizioni</h1>

    <h3>Premessa</h3>
    <p>
      L'offerta del presente negozio on line viene proposta dalla società Fara S.r.l. in conformità alla vigente disciplina sul commercio elettronico e sui contratti a distanza.
    </p>

    <h3>Dati della Società</h3>
    <p>
      Fara S.r.l via Tevere, 6 Loc. Martignana, Montespertoli (FI), 50025, Italy <br>
      P.I. 03168470486 <br>
      Tel : 0571676176  |  Fax : 0571676003 <br>
      E-mail: info@faravetrerie.it
    </p>
    <p>
Il Cliente dichiara di avere preso visione di tutte le suddette informazioni e condizioni generali di vendita prima di effettuare l'ordine.
    </p>

<h2>Condizioni generali di Vendita</h2>
    <p>
      Le presenti condizioni generali disciplinano le modalità di vendita dei prodotti commercializzati da Assaggiaolio.com (i "Prodotti").
Tutti i contratti per la vendita di Prodotti da parte di Fara S.r.l. a terzi (i "Clienti") sono regolati dalle presenti Condizioni Generali, le quali formano parte integrante e sostanziale di ogni proposta, ordine e conferma d'ordine di acquisto dei Prodotti stessi. Le condizioni di vendita applicabili agli ordini sono quelle in vigore alla data dell'ordine stesso.
    </p>

    <h3>1. Prodotti: prezzi e caratteristiche</h3>
    <p>
      1.1 Salvo ove diversamente indicato, i prezzi dei Prodotti pubblicati sul sito da Fara S.r.l. sono espressi in Euro e sono comprensivi di IVA. I costi di spedizione sono esclusi.
Le spedizioni al di fuori della Comunità Europea (extra UE) sono inoltre al netto di eventuali dazi doganali, che saranno a carico del destinatario e verranno richiesti dallo spedizioniere in fase di consegna.
Il prezzo garantito all'acquirente è quello pubblicato sul Sito al momento dell'invio dell’ordine. Il prezzo stabilito all'acquisto è fissato e definitivo.
I prezzi dei Prodotti di volta in volta pubblicati da Fara S.r.l.  sul sito annullano e sostituiscono i precedenti e sono subordinati alla effettiva disponibilità dei Prodotti.
Le caratteristiche tecniche e funzionali relative ai Prodotti, pubblicate da Fara S.r.l. attraverso propri messaggi informativi nelle pagine internet descrittive degli articoli, corrispondono a quelle fornite dal produttore. Le immagini dei prodotti sono indicative e non vincolanti.
I Prodotti non vengono forniti in prova. Nonostante le note su Assaggiaolio possano fornire indicazioni sulle caratteristiche dei Prodotti, il Cliente è responsabile della scelta dei Prodotti ordinati e della rispondenza e conformità alle proprie esigenze delle specifiche indicate dal produttore. 
    </p>

    <h3>2. Ordini - fatturazione</h3>
    <p>
      Ciascun ordine di Prodotti trasmesso a Fara S.r.l. costituisce proposta contrattuale del Cliente. L'evasione dell'ordine da parte di Fara S.r.l. equivale a conferma ed accettazione dello stesso.
La documentazione fiscale relativa ai Prodotti ordinati verrà emessa da Fara S.r.l. al momento della spedizione dei Prodotti stessi al Cliente.
Il Cliente dovrà indicare i dati esatti necessari per la fatturazione e precisare l’indirizzo di spedizione della fattura stessa.
    </p>

    <h3>3. Esecuzione dell'ordine</h3>
    <p>
      L’ordine verrà eseguito nei termini precisati sul Sito. 
Una volta confermato, l’ordine può essere annullato solo entro 12 ore, scadute le quali il cliente ha l’obbligo di pagamento. In conformità alle leggi in materia, il cliente può comunque, restituire l’ordine entro 14 giorni, seguendo la nostra Politica di Reso (Vedi punto 9).
In caso di mancata esecuzione dell'ordine da parte di Fara S.r.l. (qualora la stessa sia dovuta ad indisponibilità dei Prodotti ordinati dal Cliente), Fara S.r.l. provvederà al più presto ad informare il Cliente dei tempi di consegna previsti per l’approvvigionamento del Prodotto mancante. Se il Cliente non intenda attendere tale tempo, comunque non superiore a 30 giorni lavorativi, Fara S.r.l. rimborserà le somme da questi eventualmente già versate a fronte della fornitura non eseguita.
In caso di rottura, esaurimento dello stock o indisponibilità del Prodotto ordinato, Fara S.r.l. si impegna a informare il Cliente al più presto e a precisargli un termine per la disponibilità.
Il Cliente confermerà per e-mail la sua scelta, ossia attendere la disponibilità del Prodotto o chiederne il rimborso.
    </p>

    <h3>4. Accettazione dell'ordine</h3>
    <p>
      La conclusione del contratto avverrà soltanto al momento della conferma dell'ordine da parte di Fara S.r.l.<br>

Il Cliente riceverà per fax, posta o posta elettronica una notifica di ricezione riportante la conferma dell'ordine con tutti gli elementi costitutivi del contratto (prodotti ordinati, prezzi, date di consegna, spese di spedizione). <br>

Fara S.r.l. si riserva la possibilità di non confermare un ordine per qualsivoglia motivo attinente in particolare un problema riguardante l'ordine ricevuto o l'approvvigionamento Prodotti.
    </p>

    <h3>5. Consegna dei prodotti</h3>
    <p>
      I Prodotti vengono consegnati all'indirizzo indicato dal Cliente.
Le spedizioni avverranno dopo aver ricevuto conferma dei pagamenti: per il pagamento mediante carta di credito farà fede la conferma di avvenuta transazione da parte del circuito.
Per le nostre spedizioni ci affidiamo al servizio di Poste/SDA
    </p>

    <h4>5.1 Tempi di consegna</h4>
    <p>
      Di norma le consegne avvengono nell'arco di 24/48 ore per l'Italia e 3/8 giorni per le altre destinazioni solo per i prodotti disponibili a magazzino.
I tempi di spedizione sono indicati in giorni lavorativi.
Eventuali ritardi nelle consegne inferiori a 30 (trenta) giorni non danno diritto al Cliente di rifiutare la consegna dei Prodotti, né di pretendere risarcimenti o indennizzi di sorta.
Fara S.r.l. ha il diritto di effettuare, qualora lo ritenga opportuno, la richiesta di consegna dei Prodotti (anche relativa ad uno stesso ordine) in più fasi successive.
La consegna viene considerata come eseguita dal momento in cui il Prodotto viene consegnato al Cliente.

Il documento di consegna rilasciato dal trasportatore, datato e firmato dal Cliente alla consegna del Prodotto, costituirà una prova del trasporto e rilascio del bene.
    </p>
    <h4>5.2 Consegne al piano</h4>
    <p>
      Le consegne sono da intendersi esclusivamente a piano strada. 
Condizioni e termini di consegna particolari dovranno essere preventivamente concordate tra il Cliente e Fara S.r.l. ed accettate per iscritto da Fara S.r.l.</p>
    <p><strong>È importante sapere che:</strong></p>
    <p>
      Alla consegna, il Cliente dovrà verificare il contenuto, la conformità e lo stato del o dei Prodotti. Pertanto, alla consegna, Fara S.r.l. raccomanda al Cliente di procedere alla verifica dello stato dei Prodotti consegnati prima di firmare l'avviso di ricezione, e di accertarsi in particolare:
    - che il numero dei colli in consegna corrisponda a quanto indicato nel documento di trasporto allegato alla spedizione;
    - che l'imballo risulti integro, non danneggiato, né bagnato o comunque alterato, e di controllare l’integrità del contenuto.
    Qualora il Cliente constatasse delle anomalie, è tenuto a rifiutare la consegna dei prodotti o mettere per iscritto le proprie riserve in un documento dettagliato e datato. Se il documento del corriere viene firmato senza apporre alcuna "riserva", il Cliente non potrà opporre alcuna contestazione circa le caratteristiche esteriori di quanto consegnato. Eventuali problemi inerenti l'integrità fisica, la corrispondenza o la completezza dei Prodotti ricevuti devono essere segnalati entro 3 (tre) giorni dalla avvenuta consegna.
    Fara S.r.l. ha il diritto, a proprio insindacabile giudizio, di effettuare la consegna dei Prodotti ordinati a mezzo di un corriere da lei scelto.
    </p>

    <h3>6. Ritiro dei prodotti in caso di assenza del cliente</h3>
    <p>
      In caso di assenza del destinatario durante la consegna, il trasportatore lascerà un avviso di passaggio all'indirizzo di consegna indicato dal Cliente. I Prodotti dovranno essere ritirati all'indirizzo e secondo le modalità indicate dal trasportatore.
In caso di mancato ritiro entro il termine stabilito dal trasportatore, i Prodotti verranno restituiti a Fara S.r.l., che si riserva il diritto di rimborsare il prezzo dei Prodotti, lasciando le spese di spedizione a carico del Cliente.
In caso di errore riguardante il Prodotto, il Cliente si impegna a restituire detto Prodotto o i Prodotti interessati a Fara S.r.l. entro 14 (quattordici) giorni dalla ricezione, con la confezione chiusa, nel loro stato e imballaggio originale e con i documenti di accompagnamento.
Una volta ricevuto il Prodotto in forma e maniera corretta, Fara S.r.l. rinvierà, a proprie spese, il Prodotto inizialmente ordinato.
    </p>

    <h3>7. Forza maggiore</h3>
    <p>
      In maniera esplicita vengono considerati come casi di forza maggiore, oltre a quelli normalmente considerati dalla giurisprudenza, anche i seguenti casi:
- gli scioperi totali o parziali, interni o esterni all'azienda, il blocco dei mezzi di trasporto o di approvvigionamento per qualsiasi motivo, le restrizioni governative o legali, i guasti informatici, il blocco delle telecomunicazioni comprese le reti e in particolare internet.
In caso di forza maggiore verrà sospesa, in un primo tempo, in pieno diritto, l'esecuzione dell'ordine.
Se trascorso un periodo di 3 (tre) mesi e le parti constatano la persistenza del caso di forza maggiore, l'ordine verrà automaticamente annullato, salvo altrimenti concordato da entrambe le parti.
    </p>

    <h3>8. Garanzie sui Prodotti - Assistenza tecnica</h3>
    <p>
      Fara S.r.l. garantisce la sola integrità materiale dei Prodotti al momento della consegna (di seguito, la "Garanzia Fara S.r.l.").
    </p>
    <p>
      8.1 Eventuali difetti coperti dalla Garanzia Fara S.r.l. dovranno essere denunciati dal Cliente, a pena di decadenza, entro e non oltre 10 (dieci) giorni dalla data di consegna. In caso di operatività della Garanzia Fara S.r.l., il Cliente avrà diritto alla sola sostituzione dei Prodotti danneggiati dietro restituzione degli stessi, essendo escluso il diritto del Cliente al risarcimento di qualsivoglia danno, anche ulteriore. Le spese di spedizione necessarie per la sostituzione di Prodotti sono a carico di Fara S.r.l..
    </p>
    <p>
      8.2 Fermo restando quanto previsto al precedente articolo 8.1, Fara S.r.l. non presta sui Prodotti alcuna garanzia riguardo l'idoneità dei Prodotti per l'uso specifico pensato dal Cliente.  
    </p>
    <p>
      8.3 Fatte salve le ipotesi di dolo o colpa grave di Fara S.r.l. è sin d'ora convenuto che, qualora fosse accertata la responsabilità di Fara S.r.l. a qualsiasi titolo nei confronti del Cliente - ivi compreso il caso dell'inadempimento, totale o parziale, agli obblighi assunti da Assaggiaolio.com nei confronti del Cliente per effetto dell'esecuzione di un ordine - la responsabilità di Fara S.r.l. non potrà essere superiore al prezzo dei Prodotti acquistati dal Cliente e per i quali sia sorta la contestazione.
    </p>

    <h3>Diritto di recesso</h3>
    <p>
      9.1 Ai sensi dell'art. 5 del D. Lgs 22 maggio 1999 n. 185, il Cliente (qualora sia qualificabile come "consumatore" ai sensi dell'art.1 lett b) del D. Lgs 22 maggio 1999 n. 185) ha il diritto di recedere dal contratto e di restituire i Prodotti ordinati, senza alcuna penalità e senza specificarne il motivo, entro il termine di 14 (quattordici) giorni dal ricevimento dei Prodotti stessi.
    </p>

    <p>
      9.2 Il diritto di recesso di cui al precedente articolo 9.1 può essere esercitato dal Cliente, senza indicarne le ragioni, entro 14 giorni. Il periodo di recesso scade dopo 14 giorni dal giorno in cui il Cliente o un terzo, diverso dal vettore e designato dal Cliente, acquisisce il possesso fisico dei beni.<br>
Per esercitare il diritto di recesso, il Cliente dovrà informarci via posta:<br>
Fara S.r.l. via Tevere, 6 Loc. Martignana, Montespertoli (FI), 50025, Italy <br>
via fax: +39 571676003 <br>
via e-mail: info@faravetrerie.it <br>
della decisione di recedere dal presente contratto tramite una dichiarazione esplicita (ad esempio lettera inviata per posta, fax o posta elettronica).
Per rispettare il termine di recesso, è sufficiente che il Cliente invii la comunicazione relativa all'esercizio del diritto di recesso prima della scadenza del periodo di recesso.
    </p>
    <p>
      9.3 Recedendo dal contratto, saranno rimborsati al Cliente tutti i pagamenti effettuati a nostro favore, compresi i costi di consegna <strong>(ad eccezione dei costi supplementari derivanti dall'eventuale scelta di un tipo di consegna diverso dal tipo meno costoso di consegna standard da noi offerto)</strong>, senza indebito ritardo e in ogni caso non oltre 14 giorni dal giorno in cui siamo informati della decisione di recedere dal presente contratto.   
Detti rimborsi saranno effettuati utilizzando lo stesso mezzo di pagamento utilizzato per la transazione iniziale, salvo che il Cliente non abbia espressamente convenuto altrimenti; in ogni caso, non dovrà sostenere alcun costo quale conseguenza di tale rimborso.
<strong>Il rimborso può essere sospeso fino al ricevimento dei beni oppure fino all'avvenuta dimostrazione da parte del consumatore di aver rispedito i beni, se precedente.</strong> 
    </p>
    <p>
      9.4 I beni oggetto di reso dovranno essere rispediti o consegnati a noi all'indirizzo
<strong>Fara S.r.l. - via Tevere, 6 Loc. Martignana, Montespertoli (FI), 50025, Italy</strong>
senza indebiti ritardi e in ogni caso entro 14 giorni dal giorno in cui il Cliente ci ha comunicato il suo recesso dal presente contratto. Il termine è rispettato se i beni saranno rispediti prima della scadenza del periodo di 14 giorni.
I costi diretti della restituzione dei beni saranno a carico del Cliente.
    </p>
    <p>
      9.5 Il Cliente è responsabile solo della diminuzione del valore dei beni risultante da una manipolazione del bene diversa da quella necessaria per stabilire la natura, le caratteristiche e il funzionamento dei beni. Il bene restituito deve essere reso in <strong>condizioni di rivendibilità</strong>.
    </p>
    <p>
      Il diritto di recesso di cui al precedente articolo 9.1 non può essere esercitato dal Cliente nel caso in cui i Prodotti acquistati siano stati realizzati secondo le richieste del Cliente oppure siano personalizzati
    </p>
    <p>
      Fara S.r.l. raccomanda al Cliente di:
      <ol>
        <li>verificare lo stato dei Prodotti consegnati prima di firmare l'avviso di ricezione, ed in particolare che il numero dei colli in consegna corrisponda a quanto indicato nel documento di trasporto allegato alla spedizione</li>
        <li>verificare che l'imballo risulti integro, non danneggiato, né bagnato o comunque alterato</li>
        <li>controllare l’integrità del contenuto</li>
      </ol>
      In caso siano riscontrate delle difformità, il Cliente potrà rifiutarsi di accettare il pacco, firmando il proprio rifiuto. 
    </p>

    <h3>10. Pagamento</h3>
    <p>
      Il pagamento del corrispettivo è dovuto al momento dell’ordine. 
Il Cliente si impegna a saldare il prezzo concordato per il Prodotto ordinato sul Sito (prezzo dei Prodotti e del trasporto) nonché, se necessario, a saldare o a fare saldare direttamente al corriere o al trasportatore l'IVA o le altre tasse relative all'importazione dei Prodotti nei paesi dove avverrà la consegna.
Il Cliente salda l'ordine:
- mediante carta di credito come proposto sul Sito.

Il Cliente garantisce a Fara S.r.l. il fatto di disporre delle eventuali autorizzazioni necessarie per usare la modalità di pagamento con carta di credito in fase di ordine o mediante Paypal.

Il Cliente garantisce a Fara S.r.l. il fatto di disporre delle eventuali autorizzazioni necessarie per usare la modalità di pagamento Paypal in fase di ordine. 
    </p>

    <h3>11. Mancato pagamento - Riserva di proprietà </h3>
    <p>
      I Prodotti ordinati rimangono di proprietà di Fara S.r.l. fino al pagamento definitivo e per intero del loro prezzo (ai sensi Art. 1523 e seguenti del CC.) Fara S.r.l. si riserva il diritto di rivendicare i Prodotti ordinati in caso di mancato pagamento.
    In questa ipotesi e su richiesta di Fara S.r.l., il Cliente si impegna a restituire qualsiasi Prodotto non pagato, con spese a proprio carico.
    </p>

    <h3>12. Reclami</h3>
    <p>
      I reclami per la mancata conformità del Prodotto o dei Prodotti consegnato/i con l'ordine dovranno pervenire per iscritto direttamente a Fara S.r.l., immediatamente dopo la ricezione della merce.
    Consigliamo al Cliente di conservare l'imballaggio originale e il documento di consegna.
    </p>

    <h3>13. Informazioni nominative</h3>
    <p>
      L'elaborazione computerizzata delle informazioni, compresa la gestione degli indirizzi di posta elettronica degli utenti del sito, viene effettuato in conformità alle disposizioni di legge.
Le informazioni nominative richieste al Cliente sono indispensabili per l'elaborazione e l'inoltro degli ordini, la creazione delle fatture e degli eventuali contratti di garanzia.
A questo scopo, tali informazioni potranno essere comunicate ai partner contrattuali di Fara S.r.l..

Il Cliente può opporsi a una tale comunicazione e ai sensi della legge si avvale del diritto di accesso, modifica, rettifica e cancellazione dei dati che lo riguardano rivolgendosi a :
Fara S.r.l., via Tevere, 6 Loc. Martignana, Montespertoli (FI), 500025, Italy
Per evitare qualsiasi tentativo di frode, Fara S.r.l. potrà chiedervi prova della vostra identità, del vostro domicilio. 
    </p>

    <h3>14. Firma elettronica</h3>
    <p>
      Il “clic di convalida” costituisce una firma elettronica.
Questa firma elettronica ha tra le parti lo stesso valore di una firma manoscritta. 
    </p>

    <h3>15. Mancata rinuncia</h3>
    <p>
      Per Fara S.r.l. il fatto di non far valere una mancanza da parte del Cliente rispetto a uno qualsiasi dei suoi obblighi, non potrà essere interpretato come una rinuncia all'obbligo in questione e alla possibilità di far valere questa mancanza in un secondo momento. 
    </p>

    <h3>16. Integralità del contratto</h3>
    <p>
      Le presenti condizioni generali di vendita costituiscono l'integralità degli obblighi delle parti.
Nessun'altra condizione generale o particolare comunicata dal Cliente potrà inserirsi o esulare dalle presenti condizioni generali. 
    </p>

    <h3>17. Proprietà Intellettuale</h3>
    <p>
      Fara S.r.l. è titolare dei diritti di proprietà intellettuale del Sito e del diritto di diffusione degli elementi che sono contenuti nel catalogo del negozio online, di conseguenza, la riproduzione parziale o totale, su qualsiasi tipo di supporto, degli elementi che compongono il Sito e il catalogo, il loro utilizzo nonché la loro cessione a terzi sono formalmente vietati. Fara S.r.l. è inoltre titolare del marchio registrato Assaggiaolio.
    </p>

    <h3>18. Nullità</h3>
    <p>
      Qualora una o più disposizioni delle presenti condizioni generali fosse considerata non valida o dichiarata tale in applicazione di una legge, normativa o a seguito di una decisione definitiva presa da una giurisdizione competente, le altre disposizioni conserveranno tutta la loro forza e il loro valore.
    </p>

    <h3>19. Foro competente</h3>
    <p>
      In caso di contenzioso e in mancanza di un accordo amichevole raggiunto tra le parti, ferma restando l'eventuale applicabilità di disposizioni inderogabili di legge poste a tutela dei consumatori (come definiti ai sensi dell'art.1 lett b) del D.Lgs 22 maggio 1999 n. 185), qualsiasi controversia comunque connessa alle presenti Condizioni Generali sarà devoluta alla competenza esclusiva del Tribunale di Firenze.
Ai sensi e per gli effetti di cui agli articoli 1341 e 1342 del codice civile il Cliente dichiara di avere attentamente letto e compreso e di accettare specificamente le seguenti clausole delle Condizioni Generali di vendita Fara S.r.l.: 1-2-3-4-5-6-7-8-8.1-8.2-8.3-9-9.1-9.2-9.3-9.4-9.5-10-11-12-13-14-15-16-17-18-19.
    </p>
  </div>
</div>
