<div class="readable-text">
  <div class="col-md-12">
    <h1>Garanzia e Reclami</h1>
    <p>
      Facciamo in modo che i tuoi acquisti online siano sicuri, utilizziamo per questo pagamenti elettronici certificati e imballi accurati.
    </p>
<br>
    <h4>RESO PER DIFETTI O NON CONFORMITÀ</h4>
    <p>
      In caso il prodotto acquistato risulti danneggiato a causa del trasporto o presenti difetti di produzione, Fara S.r.l. si impegna a sostituire il prodotto in garanzia e senza nessun addebito.
    </p>
    <p>
      Per avvalersi di questo diritto è necessario: inviare entro 14 giorni dalla data del ricevimento della merce una comunicazione scritta indirizzata a Fara S.r.l via Tevere, 6 Loc. Martignana, Montespertoli (FI) 50025, Italy (via fax 0571676003 oppure via mail info@faravetrerie.it), indicando i riferimenti all’ordine, il prodotto danneggiato o difettato e i dettagli del difetto riscontrato.
    </p>
    <p>Il nostro Servizio Clienti ti contatterà per concordare la sostituzione.</p>
    <br>
    <h5>Importante</h5>
    <p>
      Il prodotto da sostituire deve essere restituito negli imballi originali accuratamente sigillati.
      Fara S.r.l. provvederà a effettuare la sostituzione all'indirizzo indicato in fattura nel più breve tempo possibile.
    </p>
  </div>
</div>
