<%= render @cart %>

<% if @cart.line_items.present? %>

<div class="col-md-6">
  <%= button_to "Svuota carrello", @cart, method: :delete, data: { confirm: 'Sei sicuro di voler svuotare il carrello?' }, class: "btn btn-primary" %>
</div>
<div class="col-md-6">
  <%= button_to "Vai alla cassa", @cart, method: :get, class: "btn btn-primary" %>
</div>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#update_quantity').click(function(){
      $.ajax({
        url: '/line_items/'+$(this).siblings('#product_id').val(),
        method: 'patch',
        data: {
          "product_id": $(this).siblings('#product_id').val(),
          "quantity": $(this).siblings('#quantity').val()
        }
      });
    });
  });
</script>
