<%= render @cart %>

<div class="container">
  <div class="col-md-12">
    <%= button_to "Continua gli acquisti", store_url, method: :get, class: "btn btn-primary pull-right" %>
    
    <%= button_to "Vai alla cassa", store_url, method: :get, class: "btn btn-primary pull-right" %>
  </div>
</div>
