// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

$olive: #413F27;
$olive_dark: #353421;
$light_grey: #c7c4ba;
$dark_grey: #5E5841;
$dirty_yellow: #C6B100;


body {
  padding-top: 10rem;
  background-color: $olive;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label  {
  color: $dirty_yellow !important;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $olive;
}

#flash-cart {
  position:absolute;
  padding: 15px 0;
  background-color: $dirty_yellow;
  text-transform: uppercase;
  width: 100%;
  display: none;
}

#shipping-costs-wrapper {
  background: $dark_grey;
  color: $light_grey;
  border-radius: 3px;
  padding: 1.3rem 2.3rem;
  margin: 20px 0;
}

#navbar-assaggiaolio {
  background-color: $olive_dark;
  .navbar-toggle {
    margin-top: 20px;
  }
  .navbar-brand {
    color: #fff;
    line-height: normal;
    height: auto;
    width: 180px;
  }
  .navbar-header {
    float: none;
  }
  .flag-cart-wrapper {
    padding-right: 15px;
    padding-top:12px;
  }
  .flag { width: 30px; }
  .dropdown-menu { min-width: 40px; }
}

.home-cart {
  position: fixed;
  display: block;
  width: 320px;
}


.btn-custom {
  border-radius: 3px;
  padding: 1.3rem 2.3rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  width: 100%;

  // &.btn-add-to-cart {
  //   background-color: $dark_grey;
  //   color: $light_grey;
  // }

  &.btn-light {
    background-color: transparent;
    border: 1px solid $light_grey;
    color: $light_grey;
    transition: border 0.5s, color 0.5s;
    &:hover {
      border: 1px solid $dirty_yellow;
      color: $dirty_yellow;
    }
  }

  &.btn-checkout, &.btn-add-to-cart {
    background-color: $dirty_yellow;
    border: 1px solid $dirty_yellow;
    color: $olive;
  }

}


.product-wrapper {
  padding: 2rem 0 4rem 0;
  border-bottom: 1px solid $dark_grey;
  h1 {
      padding-top: 0;
      margin-top: 0;
      font-size: 3rem;
      font-weight: 300;
      color: #fff;
      line-height: normal;
  }

  .product-image-wrapper {
    padding: 2rem;
  }

  p.description {
    color: $light_grey;
  }

  .info-customize-message {
    background: $dark_grey;
    color: $light_grey;
    border-radius: 3px;
    padding: 1.3rem 2.3rem;
    margin: 20px 0;
    display: none;
  }

  table.tech-specs {
    margin: 3rem 0;
    color: #fff;
    width: 100%;
    tr {
      border-bottom: 1px solid $light_grey;
    }
    th {
      padding: 0.5rem 0;
      text-transform: uppercase;
      font-weight: 300;
      width: 60%;
      font-size: 1.4rem;
    }
  }
  .price {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 300
  }
  .cad {
    font-size: 1.3rem;
  }
  .price-table {
    width: 100%;
    margin: 2rem 0 4rem 0;

    .quantity-wrapper {
      vertical-align: bottom;

      text-align: right;
      label {
        color: #fff;
      }
      input {
        margin-left: 10px;
        font-size: 1.7rem;
        width: 80px;
        padding: 1rem;
        border-width: 0px;
        border-radius: 5px;
      }
    }
  }

}

.table-cart {
  margin-bottom: 4rem;
  caption {
    font-size: 1.7rem;
    background-color: $olive_dark;
    color: #fff;
    padding: 1.5rem;
    text-transform: uppercase;
  }

  tr.line-item-row {
    background-color: $light_grey;
    td {
      padding: 1.5rem;
      h3 {
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        padding-top:  1rem
      }
      input {
        font-size: 1.3rem;
        width: 40px !important;
        margin-left: 10px;
        padding: 0.7rem;
        border-width: 0px;
        border-radius: 3px;
      }
      .btn-refresh, .btn-trash { font-size: 1.5rem; }
      .btn-refresh { background-color: $olive; border-color: $olive; }
      .btn-trash { background-color: $olive_dark; border-color: $olive_dark; color: #fff; }

    }
  }
  td.cart-shipping-costs {
    background: $dark_grey;
    color: #FFF;
    font-size: 1.7rem;
    padding: 1.5rem;
    margin: 20px 0;
    text-align: right;
  }
  td.total-price {
    font-size: 1.7rem;
    background-color: #fff;
    text-align: right;
    color: $olive_dark;
    padding: 1.5rem;
  }
}

#new_order {
  label { color: $light_grey; }
  h2 {
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid $light_grey;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}

.order-detail {
  padding: 3rem;
  background-color: #fff;
  font-size: 1.6rem;
  h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    color: $olive;
    padding: 0 0 3rem;
  }
}
