$('#sidebar-cart-wrapper').html("<%= escape_javascript render @cart, checkout: false %>");
$('#flash-cart-content').html("<span class='glyphicon glyphicon-shopping-cart'></span> <%= t('product_added_to_cart', count: params[:quantity].to_i) %>");
$('#flash-cart').slideToggle().delay(1000).slideToggle();
