<div class="col-md-8">
  <% @products.each do |p| %>
    <%= render "products/product", p: p %>
  <% end %>
</div>
<div class="col-md-4">
    <div class="row">
      <div id="sidebar-cart-wrapper">
        <%= render @cart, checkout: false %>
      </div>
    </div>
</div>
