<div class="col-md-8">
  <% @products.each do |p| %>
    <% if p == @products.last %>
      <% last = true %>
    <% end %>
    <%= render "products/product", p: p, last: last %>
  <% end %>
</div>
<div class="col-md-4">
  <div class="home-cart" id="sidebar-cart-wrapper">
    <%= render @cart, checkout: false %>
  </div>

</div>
